/* Define custom properties (CSS variables) */
:root {
    --color-primary: #a83f2a; /* CFFarbe1 - Primary color */
    --color-secondary: #231304; /* CFFarbe2 - Secondary color */
    --header-height: 61px;
    /* --font-main: Arial, sans-serif; */
    --bg-body: #f4f4f4;
    --text-color-main: #333;
    --box-shadow-default: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* --spacing-sm: 0.5rem;      /* 8px */
    /* --spacing-md: 1rem;        /* 16px */
    --spacing-lg: 20px;
    /* --border-radius-sm: 3px; */
    /* --border-radius-md: 5px; */
    /* --transition-default: background-color 0.3s ease; */
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Setzt die Mindesthöhe des Bodys auf die Höhe des Viewports */
}

header {
    background-color: #fff;
    color: var(--text-color-main);
    /* padding: 1rem 0; */
    /* text-align: center; */
    position: fixed; /* Header fixieren */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;   
    box-shadow: var(--box-shadow-default);
    height: auto; /* Header Höhe automatisch anpassen */
    display: flex; /* Flexbox für Logo und Navigation */
    /*flex-direction: column; /* Elemente untereinander anordnen */
    align-items: center; /* Horizontale Zentrierung */
    justify-content: center; /* vertikale Zentrierung */
    padding: 10px 20px; /* Innenabstand */
}

.header-content {
    width: 100%;
    display: flex;
    /*flex-direction: column; /* Elemente untereinander anordnen */
    align-items: center;
    justify-content: space-between;
}
.header-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.active-language-display {
    display: flex;
    align-items: center;
    position: relative; /* Needed for absolute positioning of the picker */
}
.active-language-display:hover .language-picker {
    display: block;
}

.active-language-flag {
    width: 30px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    /* margin-right: 2rem; */
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer; /* Add a pointer cursor on hover */
}

.language-picker {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: var(--box-shadow-default);
    z-index: 10; /* Ensure it's above other elements */
    border-radius: 2px;
}
.language-picker ul{
    list-style: none; /* Entfernt die Punkte vor den Links */
    padding: 0; /*Entfernt die Innenabstände der Liste */
    margin: 0;
}

.language-picker li {
    padding: 0.5rem;
    white-space: nowrap;
}

.language-picker a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen Logo und Flagge */
    padding: 5px;
    width: 100%;
}

.flag-icon {
    width: 20px;
    height: auto;
}
.language-picker a:hover{
    background-color: #f0f0f0;
}
.language-name{
    color: black;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen Logo und Flagge */
}

.logo {
    height: 40px; /* Pass die Höhe nach Bedarf an */
    width: auto;
}

.brand-text {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.consciencia {
    color: var(--color-primary);
}

.fitness {
    color: var(--color-secondary);
}

nav {
    background-color: transparent;
    padding: 0;
    text-align: center; /* Zentriert die Links */
    width: 100%;
}

nav a {
    color: var(--text-color-main); /* Ändert die Farbe auf schwarz */
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.auth-nav {
    display: flex;
    /* margin-right: 20px;  Entfernt den Abstand da er nicht mehr benötigt wird */
}

main {
    width: 80%;
    margin: 5rem auto 2rem; /* Fügt Abstand hinzu, um den fixierten Header zu berücksichtigen */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Nimmt den verfügbaren Platz zwischen Header und Footer ein */
    padding-top: var(--header-height);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* User Avatar und Dropdown */
.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #a83f2a 50%, #231304 50%);
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: var(--box-shadow-default);
    z-index: 1;
    right: 0;
    border-radius: 2px;
}

.user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.auth-section{
    display: flex;
    align-items: center;
    margin-right: 30px; 
}

/* about page */
.about-container {
    display: flex; /* Zeigt die Personen nebeneinander an */
    flex-wrap: wrap; /* Ermöglicht Umbruch, wenn nicht genug Platz ist */
    justify-content: space-around; /* Verteilt die Personen gleichmäßig */
    max-width: 1200px; /* Begrenzt die maximale Breite des Containers */
    margin: 0 auto; /* Zentriert den Container horizontal */
    padding: 20px;
  }
  
  .about-person {
    flex: 1; /* Nimmt so viel Platz wie möglich ein */
    min-width: 300px; /* Minimale Breite für jede Person */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .purchase-button { /* Hier wurde about-button zu purchase-button geändert */
    display: block;
    background-color: var(--color-primary); /* Hier wurde die Hintergrundfarbe geändert */
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px -10px;
    width: 100%;
    text-decoration: none;
  }
  
  .purchase-button:hover { /* Hier wurde about-button zu purchase-button geändert */
    background-color: #0056b3; /* Dunklere Farbe beim Hover */
  
  /* Zusätzliches Styling für hr */
  hr {
    border: none;
    border-top: 1px solid #ddd; /* Beispielhafte Farbe und Stil */
    margin: 20px 0;
  }
  