<!DOCTYPE html>
{% load static %}
{% load i18n %} <!-- i18n-Bibliothek laden -->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>ConsciousFit</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <a href="/"><img src="{% static 'img/cofi_logo_89x110.png' %}" alt="Cofi Logo" class="logo"></a>
                <span class="brand-text">
                    <span class="consciencia">Consciencia</span>
                    <span class="fitness">Fitness</span>
                    </span>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <div class="language-picker">
                    {% for language in languages %}
                    <a href="/{{ language.code }}/" class="language-link {% if language.code == LANGUAGE_CODE %}active{% endif %}" hreflang="{{ language.code }}">{{ language.name_local }}</a>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ConsciousFit</p>
    </footer>
</body>
</html>
