<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% translate "ConsciousFit" %}</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <a href="/"><img src="{% static 'img/cofi_logo_89x110.png' %}" alt="Cofi Logo" class="logo"></a>
                <span class="brand-text">
                    <span class="consciencia">Consciência</span>
                    <span class="fitness">Fitness</span>
                </span>
            </div>
            <nav>
                <div class="main-nav">
                    <a href="{% url 'home:home' %}">{% translate "Home" %}</a>
                    <a href="#">{% translate "About" %}</a>
                    <a href="#">{% translate "Services" %}</a>
                    <a href="#">{% translate "Contact" %}</a>
                </div>
            </nav>
            <div class="header-actions">
                <div class="active-language-display">
                    <img src="{% static 'img/flags/' %}{{ LANGUAGE_CODE }}.svg" alt="{{ LANGUAGE_CODE }} Flag" class="flag-icon active-language-flag">
                    <div class="language-picker">
                        <ul>
                            {% for language in languages %}
                            <li>
                                <a href="/{{ language.code }}/" class="language-link {% if language.code == LANGUAGE_CODE %}active{% endif %}" hreflang="{{ language.code }}">
                                    <img src="{% static 'img/flags/' %}{{ language.code }}.svg" alt="{{ language.name_local }} Flag" class="flag-icon">
                                    <span class="language-name">{{ language.name_local }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="auth-section">
                    {% if user.is_authenticated %}
                        <div class="user-dropdown">
                            <div class="user-avatar">
                                {{ user.username|first|upper }}
                            </div>
                            <div class="user-dropdown-content">
                                <a href="#">{% translate "Settings" %}</a>
                                <a href="{% url 'accounts:logout' %}">{% translate "Logout" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}">{% translate "Login" %}</a>
                        {% comment %} <a href="{% url 'accounts:register' %}">{% translate "Register" %}</a> {% endcomment %}
                    {% endif %}
                </div>
            </div>


        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ConsciousFit</p>
    </footer>
</body>
</html>
