<!-- frontend/django/accounts/templates/accounts/register.html -->
{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block content %}
<main>
    <h2>{% trans "Register" %}</h2>
    {% include "messages.html" %}
    <form method="post">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit">{% trans "Register" %}</button>
    </form>
    <p>{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}">{% trans "Login here" %}</a>.</p>
</main>
{% endblock %}
