<!-- frontend/django/accounts/templates/accounts/register.html -->
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<main>
    <h2>Register</h2>
    {% include "messages.html" %}
    <form method="post">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a>.</p>
</main>
{% endblock %}
