/* Define custom properties (CSS variables) */
:root {
    --color-primary: #a83f2a; /* CFFarbe1 - Primary color */
    --color-secondary: #231304; /* CFFarbe2 - Secondary color */
    --header-height: 61px;
    /* --font-main: Arial, sans-serif; */
    --bg-body: #f4f4f4;
    --text-color-main: #333;
    --box-shadow-default: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* --spacing-sm: 0.5rem;      /* 8px */
    /* --spacing-md: 1rem;        /* 16px */
    --spacing-lg: 20px;
    /* --border-radius-sm: 3px; */
    /* --border-radius-md: 5px; */
    /* --transition-default: background-color 0.3s ease; */
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Setzt die Mindesthöhe des Bodys auf die Höhe des Viewports */
}

header {
    background-color: #fff;
    color: var(--text-color-main);
    padding: 1rem 0;
    text-align: center;
    position: fixed; /* Header fixieren */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;   
    box-shadow: var(--box-shadow-default);
    height: var(--header-height);
}

nav {
    background-color: #444;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 5rem auto 2rem; /* Fügt Abstand hinzu, um den fixierten Header zu berücksichtigen */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Nimmt den verfügbaren Platz zwischen Header und Footer ein */
    padding-top: var(--header-height);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
