uvicorn
python-multipart
SQLAlchemy
fastapi
python-jose
pymysql
python-dotenv
passlib
python-jose[cryptography] # Hinzugefügt
bcrypt
pytest
pytest-cov
pytest-asyncio
pytest-html
httpx

#mysqlclient
#mariadb
