{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="about-container">
        <div class="about-person">
            <h1>Oi! Eu sou a Maria Klara</h1>
            <img src="{% static 'img/MC_about.jpg' %}" alt="Maria Clara" class="about-person-image">
            <hr>
            <p>Olá, eu sou nutricionista esportiva, apaixonada por performance física e comportamento alimentar. Desde cedo, o esporte sempre foi parte da minha vida — comecei na ginástica e fui explorando diferentes modalidades ao longo dos anos.</p>
            <p>Só que, mesmo sendo ativa, percebi algo que me incomodava: eu treinava, dava meu máximo, mas sentia que faltava algo. O meu corpo não respondia como eu esperava… até que eu percebi que o problema não era o treino, mas sim a nutrição.</p>
            <p>Foi aí que caiu a ficha: não dá pra separar o físico da alimentação.</p>
            <p>Mas eu também percebi outra coisa: saber o que fazer não é o bastante. A teoria é importante, mas colocar tudo isso em prática, de forma consistente, é o que realmente transforma o físico.</p>
            <p>Por isso, me aprofundei em comportamento alimentar — porque não adianta só montar o plano perfeito no papel. A verdadeira mudança vem quando você entende seus hábitos, aprende a lidar com os deslizes e cria uma rotina alimentar que se encaixa na sua vida de forma leve.</p>
            <p>E foi unindo essas duas forças — a minha paixão pela nutrição esportiva e comportamento alimentar, e a expertise da Anny em gastronomia e praticidade — que criamos este curso.</p>
            <p>Quer se tornar consciente também?</p>
            <a href="https://pay.hotmart.com/G98674738O?_hi=eyJzaWQiOiI0NzIwNmUyZjU5ZmI0ZWFmYjg3NGE4NDE2YjEzMDEyNSIsImNpZCI6IjE3NDIxNTU2MDY0MzU1NzQ2MDU2MDYzMTU2NTg0MDAiLCJiaWQiOiIxNzQyMTU1NjA2NDM1NTc0NjA1NjA2MzE1NjU4NDAwIn0=.1742155879132&bid=1742155881256" class="purchase-button">COMECE AGORA</a>
        </div>

        <div class="about-person">
            <h1>Oi! Eu sou a Anny</h1>
            <img src="{% static 'img/Anny_about.jpg' %}" alt="Anny Auerswald" class="about-person-image">
            <hr>
            <p>Sou nutricionista e minha trajetória começou com uma batalha pessoal contra dietas extremas e ciclos de frustração.</p>
            <p>Minha busca por respostas me levou a estudar nutrição e gastronomia, descobrindo que a alimentação saudável não precisa ser restritiva nem sacrificante.</p>
            <p>Durante minha formação, percebi que muitas pessoas compartilham o medo de nunca mais poder comer seus pratos favoritos e caem em armadilhas de dietas insustentáveis. Por isso, minha missão é ajudar a transformar a relação com a comida, offering strategies based on science to achieve goals in a balanced way.</p>
            <p>Hoje, combino meu conhecimento técnico com a criação de receitas práticas e saborosas, mostrando que é possível ter resultados sem abrir mão do prazer de comer.</p>
            <a href="https://pay.hotmart.com/G98674738O?_hi=eyJzaWQiOiI0NzIwNmUyZjU5ZmI0ZWFmYjg3NGE4NDE2YjEzMDEyNSIsImNpZCI6IjE3NDIxNTU2MDY0MzU1NzQ2MDU2MDYzMTU2NTg0MDAiLCJiaWQiOiIxNzQyMTU1NjA2NDM1NTc0NjA1NjA2MzE1NjU4NDAwIn0=.1742155879132&bid=1742155881256" class="purchase-button">Garanta agora seu acesso ao MCF</a>
        </div>
    </div>
{% endblock %}
