{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
    <h2>{% translate "Welcome to the A L L Y!" %}</h2>
    <p>{% translate "This is the content of your homepage." %}</p>
    <section class="hero">
        <div class="hero-content">
            <h1>{% translate "You don't need more willpower, you need direction!" %}</h1>
            <p>{% translate "The A L L Y Method gives you tools to create a system that works for you." %}</p>
        </div>
    </section>
    
    <section class="method-description">
        <p>{% translate "You will have access to tools validated by nutritionists that have already helped dozens of people build the ideal routine to achieve their goals definitively." %}</p>
    </section>
    
    <section class="call-to-action">
        <h2>{% translate "Are you interested in such a result?" %}</h2>
        <a href="https://pay.hotmart.com/G98674738O?_hi=eyJzaWQiOiI0NzIwNmUyZjU5ZmI0ZWFmYjg3NGE4NDE2YjEzMDEyNSIsImNpZCI6IjE3NDIxNTU2MDY0MzU1NzQ2MDU2MDYzMTU2NTg0MDAiLCJiaWQiOiIxNzQyMTU1NjA2NDM1NTc0NjA1NjA2MzE1NjU4NDAwIn0=.1742155879132&bid=1742155881256" class="purchase-button">I want to take advantage of this opportunity</a>
        <p class="limited-spots">{% translate "Spots are limited." %}</p>
    </section>
{% endblock %}
