{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <h2>Willkommen auf der Startseite!</h2>
    <p>Dies ist der Inhalt deiner Homepage.</p>
    <ul>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
    </ul>
{% endblock %}