{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
    <h2>{% translate "Welcome to the Homepage!" %}</h2>
    <p>{% translate "This is the content of your homepage." %}</p>
    <ul>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
        <li>{% translate "List item 1" %}</li>
        <li>{% translate "List item 2" %}</li>
        <li>{% translate "List item 3" %}</li>
    </ul>
{% endblock %}
