<!-- frontend/django/templates/base.html -->
<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-section">
                <a href="{% url 'home' %}"> <img src="{% static 'images/cofi_logo_44x55.png' %}" alt="{% translate 'Consciencia Fitness Logo' %}" class="logo"></a>
                <span class="brand-text">
                <span class="consciencia">{% trans "Consciencia" %}</span>
                <span class="fitness">{% trans "Fitness" %}</span>
                </span>
            </div>
            <div class="login-button-section">
                <div class="language-dropdown">
                  <button class="language-button" id="language-button">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info for LANGUAGE_CODE as language_info %}
                      {% if language_info.code == 'en' %}
                      <img src="{% static 'images/flaggen/us.svg' %}" alt="English" class="language-flag">
                      {% elif language_info.code == 'de' %}
                      <img src="{% static 'images/flaggen/de.svg' %}" alt="Deutsch" class="language-flag">
                      {% elif language_info.code == 'pt-br' %}
                      <img src="{% static 'images/flaggen/br.svg' %}" alt="Portugues" class="language-flag">
                      {% else %}
                      {{ language_info.name_local }}
                      {% endif %}
                      <svg style="display:inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
                  </button>
                    <ul class="language-list" id="language-list">
                        {% for lang_code, lang_name in LANGUAGES %}
                        <li>
                            <a href="/{{ lang_code }}/{{ request.path|slice:'4:' }}">
                                {% if lang_code == 'en' %}
                                <img src="{% static 'images/flaggen/us.svg' %}" alt="English" class="language-flag">
                                {% elif lang_code == 'de' %}
                                <img src="{% static 'images/flaggen/de.svg' %}" alt="Deutsch" class="language-flag">
                                {% elif lang_code == 'pt-br' %}
                                <img src="{% static 'images/flaggen/br.svg' %}" alt="Portugues" class="language-flag">
                                {% endif %}
                                {{ lang_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if user.is_authenticated %}
                <div class="dropdown">
                <button class="dropbtn">
                    <span class="user-initial">
                        {% if user.first_name %}
                            {{ user.first_name|slice:":1"|upper }}
                        {% else %}
                            {{ user.username|slice:":1"|upper }}
                        {% endif %}
                    </span>
                </button>
                <div class="dropdown-content">
                    <a href="#">{% trans "Settings" %}</a>
                    <a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
                </div>
                </div>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="login-button">{% trans "Login" %}</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
      const languageButton = document.getElementById('language-button');
      const languageList = document.getElementById('language-list');
      languageButton.addEventListener('click', function() {
          languageList.classList.toggle('show');
      });
    </script>
</body>
</html>
