<!-- frontend/django/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-section">
                <a href="{% url 'home:home' %}"> <img src="{% static 'images/cofi_logo_44x55.png' %}" alt="{% translate 'Consciencia Fitness Logo' %}" class="logo"></a>
                <span class="brand-text">
                  <span class="consciencia">{% trans "Consciencia" %}</span>
                  <span class="fitness">{% trans "Fitness" %}</span>
                </span>
            </div>
            <div class="login-button-section">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'en' %}
                    <img src="{% static 'images/flaggen/en.svg' %}" alt="English" class="language-flag">
                {% elif LANGUAGE_CODE == 'pt-br' %}
                    <img src="{% static 'images/flaggen/br.svg' %}" alt="Português (Brasil)" class="language-flag">
                {% elif LANGUAGE_CODE == 'de' %}
                    <img src="{% static 'images/flaggen/de.svg' %}" alt="Deutsch" class="language-flag">
                {% endif %}

                {% if user.is_authenticated %}
                <div class="dropdown">
                  <button class="dropbtn">
                     <span class="user-initial">
                        {% if user.first_name %}
                            {{ user.first_name|slice:":1"|upper }}
                        {% else %}
                            {{ user.username|slice:":1"|upper }}
                        {% endif %}
                     </span>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">{% trans "Settings" %}</a>
                    <a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
                  </div>
                </div>
                {% else %}
                  <a href="{% url 'accounts:login' %}" class="login-button">{% trans "Login" %}</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
