<!-- /home/heinrich/projects/ConsciousFit/frontend/django/templates/home.html -->

{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
    <h1>{% trans "Welcome to Consciencia Fitness!" %}</h1>
    {% include "messages.html" %}

    {% if user.is_authenticated %}
        <p>{% trans "You are logged in as" %} {{ user.username }}.</p>
        <a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
    {% else %}
        <p>{% trans "You are not logged in." %}</p>
        <a href="{% url 'accounts:login' %}">{% trans "Login" %}</a> or <a href="{% url 'accounts:register' %}">{% trans "Register" %}</a>
    {% endif %}
{% endblock %}
