{% extends 'base.html' %}

{% block content %}
    <h1>Rezepte</h1>
    <a href="{% url 'recipes:recipe_new' %}">Neues Rezept erstellen</a>  <!-- Added 'recipes:' namespace -->
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipes:recipe_detail' recipe_id=recipe.id %}">{{ recipe.name }}</a> <!-- Added 'recipes:' namespace -->
                <a href="{% url 'recipes:recipe_edit' recipe_id=recipe.id %}">Bearbeiten</a> <!-- Added 'recipes:' namespace -->
                <a href="{% url 'recipes:recipe_delete' recipe_id=recipe.id %}">Löschen</a> <!-- Added 'recipes:' namespace -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}
