{% extends 'base.html' %}

{% block content %}
    <h2>{% if recipe %}Edit Recipe{% else %}New Recipe{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-errors">
                <h3>Form Errors:</h3>
                <ul>
                    {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <h3>Ingredients</h3>
        {{ ingredient_formset.management_form }}
        {% for form in ingredient_formset %}
            {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.errors.values %}
                        {% for e in error %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Save</button>
    </form>
{% endblock %}
